* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.headerLeft {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
}

.headerRight {
  width: 25%;
  height: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
}

.headerLeft img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
}



.headerRight i {
  font-size: 1em;
  color: rgb(117, 117, 117);
}

a {
  text-decoration: none;
  color: inherit;
}

#resumeButton {
  /* width: 30%; */
  /* height: 60%; */
  font-size: 0.7em;
  padding: 6px 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(130, 130, 130);
  border-radius: 19px;
}

div.profileIcon {
  width: 1.6em;
  height: 1.6em;
  background-color: rgb(245, 81, 31);
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

p.profileName {
  text-align: center;
  color: white;
  font-weight: 500;
}

div#wrapper {
  margin: auto;
  padding: 0 140px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

main {
  margin: 60px 0;
  width: 60%;
  display: flex;
  flex-direction: column;
}



#mainNav {
  width: 94%;
  display: flex;
  margin-left: 25px;
}



#mainNav ul {
  width: 100%;
  border-bottom: 2px solid #e4e4e4
}

#mainNav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px 12px 5px;
  font-size: 0.9em;
  font-weight: 500;
  color: #7A7A7A;
}


#mainNav ul li:active, #mainNav ul li:focus {
  color: #272727;
  margin-bottom: -2px;
  border-bottom: 2px solid #272727;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px;
  opacity: 1;
  transition: all 0.3s linear;
}

.card:hover, .followCard:hover {
  cursor: pointer;
  opacity: 0.8;
  scale: 1.05;
}

.cardLeft {
  width: 70%;
  margin-right: 15px;
}



.cardImg {
  width: 25px;
  height: 25px;
  background-image: url('../images/infamick_profile.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 5px;
}

.userInfo {
  display: flex;
  align-items: center;
}

p.author {
  font-size: 0.9em;
  font-weight: 600;
  color: #2A2A2A
}

.title {
  text-overflow: wrap;
  margin-bottom: 5px;
  color: #2A2A2A
}

p.description {
  font-size: 1.1em;
  font-weight: 500;
  color: #818181;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centerInfo, .bottomInfo {
  margin-left: 10px;
}

.centerInfo {
  margin-top: 6px;
  margin-bottom: 10px;
}



.bottomInfo {
  display: flex;
  justify-content: space-between;
}

.bottomLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottomRight {
  display: flex;
}

.bottomLeft p {
  font-size: 0.7em;
  font-weight: 500;
  color: #818181;
  margin-right: 5px;
  position: relative;
}

.bottomLeft p:nth-child(3) {
  background-color: #F2F2F2;
  padding: 2px 4px;
  border-radius: 10px;
}

.bottomLeft p:not(:last-child):after {
  content: '.';
  color: #818181;
  position: absolute;
  bottom: 2px;
  right: -9px;
  font-size: 1.1em;
}

.bottomLeft p:nth-child(3):after {
  bottom: 4px;
}


.cardRight {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.cardRight img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  overflow: hidden;
}

.bottomRight {
  gap: 10px;
}

.bottomRight i {
  font-size: 0.9em;
}

.bottomRight i:first-of-type {
  color: #3E3E3E;
}


aside {
  width: 40%;
  border-left: 2px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#asideTop {
  margin-top: 30px;
  border-bottom: 2px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.imageContainer .fa-plus {
  font-size: 1.5em;
  color: #969696;
  font-weight: 500;
}

.imageContainer .fa-twitter {
  font-size: 1.35em;
}

.discoverContainer {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  margin-top: 0px;
  padding: 10px 0;
  gap: 20px;
  justify-content: space-between;
}

p#twitter {
  width: 60%;
  color: gray;
  text-align: center;
  text-overflow: wrap;
}

p#twitter, #twitterButton {
  color: #2A2A2A;
  font-size: 0.9em;
  font-weight: 500;
}

#twitterButton, .followButton {
  font-size: 0.8em;
  padding: 6px 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(130, 130, 130);
  border-radius: 19px;
  display: flex;
  align-items: center;
}

#twitterButton i {
  font-size: 1.5em;
  margin-right: 8px;
}

#later {
  font-size: 0.75em;
  font-weight: 500;
  color: #898989;
  text-decoration: underline;
}

#asideRecommend {
  display: flex;
  flex-direction: column;
  width: 65%;
  /* height: 11%; */
  margin: 30px 0;
}

.asideTitle {
  color: #2A2A2A;
  font-size: 0.95em;
  margin-bottom: 10px;
}



#recommendNav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  background-color: #F2F2F2;
  padding: 8px 18px;
  border-radius: 16px;
  font-size: 0.85em;
  margin: 5px;
}

#asideFollow {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 70px;
}

.followCard {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  opacity: 1;
  transition: all 0.3s linear;
}

.followCardLeft {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.followCardLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followCardCenter {
  margin-right: 100px;
}

.asideAuthor {
  font-size: 0.95em;
}

.asideDescription {
  font-size: 0.75em;
  color: #7A7A7A;
  margin-top: 4px;
}

#asideRecent {
  width: 70%;
  margin: 30px 0 30px 22px;
  display: flex;
  flex-direction: column;
}

.recentCard {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userInfoRecent {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.userInfoRecentImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.userInfoRecent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p.authorRecent {
  font-size: 0.8em;
  font-weight: 600;
  color: #2A2A2A
}

.titleRecent {
  font-size: 1.1em;
  font-weight: 600;
  color: #2A2A2A
}

.bottomInfoRecent {
  display: flex;
  gap: 10px;
}

.bottomInfoRecent p {
  font-size: 0.7em;
  font-weight: 500;
  color: #818181;
  margin-right: 5px;
  position: relative;
}

.bottomInfoRecent p:first-child:after {
  content: '.';
  color: #818181;
  position: absolute;
  bottom: 2px;
  right: -9px;
  font-size: 1.2em;
}

.bottomInfoRecent p:after {
  content: '\22C6';
  color: #818181;
  position: absolute;
  bottom: -4px;
  right: -15px;
  font-size: 1.6em;
}

#bottomSection {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#seeAll {
  color: #269327;
  font-size: 0.9em;
  font-weight: 500;
}

#asideNav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px 12px 5px;
  font-size: 0.85em;
  font-weight: 500;
  color: #7A7A7A;
}

.fakeBtn {
  transition: all 0.3s ease;
}

.fakeBtn:hover {
  scale: 1.05;
  background-color: rgba(109, 172, 255, 0.422);
}