* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 10px 0;
  top: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.headerLeft {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
}

.headerRight {
  width: 25%;
  height: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
}

.headerLeft img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
}



.headerRight i {
  font-size: 1em;
  color: rgb(117, 117, 117);
}

a {
  text-decoration: none;
  color: inherit;
}

a#resumeButton {
  /* width: 30%; */
  /* height: 60%; */
  font-size: 0.7em;
  padding: 6px 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(130, 130, 130);
  border-radius: 19px;
}

div.profileIcon {
  width: 1.6em;
  height: 1.6em;
  background-color: rgb(245, 81, 31);
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

p.profileName {
  text-align: center;
  color: white;
  font-weight: 500;
}

div#wrapper {
  width: 100%;
  border: 3px solid blue;
  margin: auto;
  margin-top: 20px;
  padding: 40px 140px;
}